@import "globalStyle.css";
@import "bootstrap-4.5.3-dist/css/bootstrap.min.css";
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    /*every section is below another so the display is flex column*/
}


/* header */

#header {
    display: flex;
    flex-direction: row;
    z-index: 1;
    /* so the header drob downs be on the other part of the page */
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    /* so it will be in center and rtl direction */
}

#header>.defaultbutton {
    position: relative;
    width: 8vw;
    height: 5vh;
    border-radius: 5px;
    margin: auto;
    margin-right: 50px;
    background-color: rgb(237, 237, 237);
    color: blue;
    text-align: center;
}

#header>.defaultbutton:hover {
    color: #FB815E;
}

#header>.defaultbutton>svg {
    position: absolute;
    left: 5%;
    top: 20%;
}


/* default header buttons look like */

#header>ul>li>a {
    font-size: larger;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


/* every header elemnt picture */

#header>ul>li svg {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: -6px;
    margin-left: 5px;
}


/* every header elemnt dad*/

#header>ul>li {
    position: relative;
    margin-left: 2vw;
    display: inline;
}


/* Drop downs defulat show case */

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
}


/* hover header */

#header>ul>li:hover a {
    color: #FB815E;
}

#header>ul>li:hover .dropdown {
    color: #FB815E;
    display: flex;
    flex-direction: column;
}


/* /////////////////// */


/* specialist section START*/

.sliderBar {
    background-color: #FB815E;
    width: 20vw;
}

.specialistContentS {
    display: flex;
    flex-direction: column;
}

.specialistContentS>div {
    display: flex;
    flex-direction: row;
}

.specialistContent {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0px;
    width: 240px;
    height: 260px;
    padding: 5px;
    border-style: ridge;
    border-color: gray;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
}

.specialistContentHeader {
    margin-bottom: 10px;
}

.specialistContentHeader>img {
    height: 60px;
    background-color: turquoise;
    border-radius: 10px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.specialistContentHeader>h5 {
    margin-top: auto;
    margin-bottom: auto;
}

.specialistContent p {
    font-size: small;
    text-align: justify;
    color: gray;
    padding: 10px;
    margin-bottom: 36px;
}

.specialistContentFooter {
    display: flex;
    margin: auto;
}

.specialistContentFooter>.defaultbutton {
    border-radius: 5px;
    height: 46px;
    width: 110px;
    border-style: solid;
    background-color: white;
    border-color: rgb(231, 103, 67);
    color: rgb(231, 103, 67);
    margin-right: 10px;
}

.specialistContentFooter>.defaultbutton:hover {
    color: white;
    background-color: rgb(231, 103, 67);
}

.specialistContentFooter h6 {
    margin-right: -10px;
    text-align: center;
    color: gray;
}

.specialistContentFooter img {
    width: 25px;
    margin-right: -10px;
}

.specialistContentFooter>div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}


/* specialist section END*/